<div class="login-wrapper">
  <mat-card class="login-card">
    <div class="logo">
      <h5>study rooms</h5>
      <p>study made easy</p>
    </div>

    <form class="form">
      <mat-form-field class="example-full-width">
        <mat-label>your name here</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>your password here</mat-label>
        <input matInput value="" />
      </mat-form-field>
    </form>
    <button class="submit" mat-button (click)="handleLoginSubmit()">
      Log In
    </button>
    <button class="submit" mat-button (click)="handleRegisterClick()">
      Don't have an account ? Register here!
    </button>
  </mat-card>
</div>
