.login-wrapper {
  height: 100dvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/images/background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .login-card {
    min-height: 450px;
    min-width: 400px;
    background-color: #1a1a1a;
    margin-bottom: 24px;


    .logo {
      margin-left: 24px;
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      align-items: start;

      h5 {
        color:#F4EAE0;
        font-size: 24px;
        margin: 0;
      }

      p {
        color:#F4DFC8;
        font-size: 16px;
      }
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    margin-inline: 24px;
    margin-top: 24px;
  }

  .submit {
    height: 56px;
    margin-inline: 24px;
    margin-top: 12px;
    background-color: #F4DFC8;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    color:  #1a1a1a;
  }
}
